:root {
  --main-blue: #281c5c;
  --light-blue: #31598c;
  --dark-blue: #112c4f;
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-blue);
  overflow-x: hidden;
}


.section {
  background-color: lightgray;
  padding: 20px;
  margin: 0;
}


#section1 {
  background-image: url('./assets/HeroBackground.png');
  background-repeat: no-repeat;
  padding-top: 0;
  margin: 0;
  background-size: 160%;
  background-position: 80% 10%;
  min-height: 100vh;
}

#section2 {
  background-image: url('./assets/section2backgorund.png');
  background-repeat: no-repeat;
  padding-top: 0;
  margin: 0;
  background-size: 100%;
  min-height: 100vh;
}

#section3 {
  background-repeat: no-repeat;
  padding-top: 0;
  margin: 0;
  background-size: 100%;
  min-height: 100vh;
}


.custom-nav-link {
  color: white !important; 
  transition: color 0.2s;
}

.custom-nav-link:hover {
  color: #ccc !important;
}


.custom-nav-link2 {
  color: gray !important;
  transition: 0.2s;
}

.custom-nav-link2:hover {
  color: var(--main-blue) !important;
  background-color: gray !important;
}

#home-container {
  width: 75%;
  margin: auto;
}

#sticky-nav {
  background-color: var(--light-blue);
}

.large-number {
  font-size: 5rem;
  font-weight: bold;
}

.history-text {
  font-size: 2rem; 
  text-transform: uppercase;
  position: relative;
  top: -90px;
  left: 100px; 
}

.climb-text {
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
  top: 30px;
  left: -10px;
}

#climb-text {
  width: 75vh;
}

.lorem-text {
  margin-top: 20px; 
}


#carousel {
  background-color: rgba(49, 89, 100, 0.65);
}

#section-3-header {
  background-color: var(--light-blue);
}

#mountain-nav-container {
  background-color: var(--dark-blue);
}


.mountain-background {
  height: 75vh;
  background-size: cover;
  background-position: center;
}


.footer {
  background-color: var(--dark-blue);
}


@media (max-width: 1200px) {
  #section1 {
    background-size: 300%;
    background-position: 65% 10%;
    min-height: 100vh;
  }

  #section2 {
    background-size: cover;
    background-position: 50% 10%;
    min-height: 100vh;
  }

  #section3 {
    background-size: cover;
  }

  .lorem-text {
    font-size: 11px;
    text-wrap: balance;
  }

  #history-text {
    font-size: 12px;
    background-color: rgba(250,250,250,0.8);
    margin: auto;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  #section3 {
    background-size: 300%;
    background-position: 20% -10%;
  }
}
